@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

html,
body {
}

@font-face {
    font-family: 'Quicksand';
    src: url('/Fonts/static/Quicksand-Light.ttf');
}



:root [data-theme='crimson'] {
    --theme-font-family-base: 'Quicksand', sans-serif;
    --theme-font-family-heading: 'Quicksand', sans-serif;
}
		